= semantic_form_for @client do |f|
  -if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :first_name
  .field
    = f.input :last_name
  .field
    = f.input :address
  .field
    = f.input :city
  .field
    = f.input :postcode
  .field
    = f.input :pesel
  .field
    = f.input :gender
  .field
    = f.input :birth_date, start_year: 1900, end_year: Date.today.year
  .field
    = f.input :license_number
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
