%h1 Listing clients

%table
  %tr
    %th First name
    %th Last name
    %th Address
    %th City
    %th Postcode
    %th Pesel
    %th Gender
    %th Birth date
    %th License number
    %th State
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.first_name
      %td= client.last_name
      %td= client.address
      %td= client.city
      %td= client.postcode
      %td= client.pesel
      %td= client.gender
      %td= client.birth_date
      %td= client.license_number
      %td{ class: (client.synchronized? ? 'synchronized' : 'unsynchronized') }= client.state
      %td= link_to 'Show', client, class: 'btn'
      %td= link_to 'Edit', edit_client_path(client), class: 'btn'
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete, class: 'btn'

%br

= link_to 'New Client', new_client_path, class: 'btn btn-primary'
= link_to 'Synchronize', synchronize_clients_path, class: 'btn btn-danger'
