%p
  %b First name:
  = @client.first_name
%p
  %b Last name:
  = @client.last_name
%p
  %b Address:
  = @client.address
%p
  %b City:
  = @client.city
%p
  %b Postcode:
  = @client.postcode
%p
  %b Pesel:
  = @client.pesel
%p
  %b Gender:
  = @client.gender
%p
  %b Birth date:
  = @client.birth_date
%p
  %b License number:
  = @client.license_number

%p
  %b State:
  %span{ class: (@client.synchronized? ? 'synchronized' : 'unsynchronized') }= @client.state

= link_to 'Edit', edit_client_path(@client), class: 'btn'
= link_to 'Back', clients_path, class: 'btn'
