= semantic_form_for @user, url: user_profile_path do |f|
  .field
    = f.input :email
  .field
    = f.input :password
  .field
    = f.input :password_confirmation

  .field
    = f.input :first_name
  .field
    = f.input :last_name

  .actions
    = f.submit 'Save', class: 'btn btn-primary'