body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

.flash {
  .notice {
    color: green;
  }

  .error {
    color: red;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: #BD362F;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

table {
  th {
    padding-right: 30px;
  }
}

form {
  li {
    list-style-type: none;
  }
  label, legend {
    color: #333 !important;
    background-color: transparent !important;
    font-weight: normal !important;
    text-shadow: none !important;
    line-height: 1em !important;
    font-size: 13px !important;
  }

  ol, ul {
    margin: 0 !important;
  }
}

.synchronized {
  color: green;
}

.unsynchronized {
  color: red;
}

.wide {
  min-width: 250px;
}