= semantic_form_for @car do |f|
  -if @car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car.errors.count, "error")} prohibited this car from being saved:"
      %ul
        - @car.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :car_model
  .field
    = f.input :vin, as: :string
  .field
    = f.input :plates_number
  .field
    = f.input :date_of_manufacture, as: :date_select, start_year: 1900, end_year: Date.today.year

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
