%h1 Listing cars

%table
  %tr
    %th Car model
    %th Vin
    %th Plates number
    %th Date of manufacture
    %th State
    %th
    %th
    %th

  - @cars.each do |car|
    %tr
      %td= car.car_model_full_name
      %td= car.vin
      %td= car.plates_number
      %td= car.date_of_manufacture
      %td{ class: (car.synchronized? ? 'synchronized' : 'unsynchronized') }= car.state
      %td= link_to 'Show', car, class: 'btn'
      %td= link_to 'Edit', edit_car_path(car), class: 'btn'
      %td= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete, class: 'btn'

%br

= link_to 'New Car', new_car_path, class: 'btn btn-primary'
= link_to 'Synchronize', synchronize_cars_path, class: 'btn btn-danger'
