%p
  %b Car model:
  = @car.car_model_full_name
%p
  %b Vin:
  = @car.vin
%p
  %b Plates number:
  = @car.plates_number
%p
  %b Date of manufacture:
  = @car.date_of_manufacture
%p
  %b State:
  %span{ class: (@car.synchronized? ? 'synchronized' : 'unsynchronized') }= @car.state

= link_to 'Edit', edit_car_path(@car), class: 'btn'
= link_to 'Back', cars_path, class: 'btn'
