.navbar
  .navbar-inner
    .container
      %ul.nav
        %li= link_to 'Clients', clients_path
        %li= link_to 'Car models', car_models_path
        %li= link_to 'Cars', cars_path
        %li= link_to 'Policies', policies_path
        %li= link_to 'Profile', edit_user_profile_path(current_user.id) if current_user.present?
        %li= link_to 'Logout', destroy_user_session_path, method: 'DELETE' if current_user.present?