%h1 Listing car_models

%table
  %tr
    %th Name
    %th Manufacture year
    %th Price
    %th
    %th
    %th

  - @car_models.each do |car_model|
    %tr
      %td= car_model.name
      %td= car_model.manufacture_year
      %td= car_model.price
      %td= link_to 'Show', car_model, class: 'btn'

%br
= link_to 'Synchronize', synchronize_car_models_path, class: 'btn btn-danger'