<!DOCTYPE html>
<html>
<head>
  <title>InsuranceClient</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="well">
	<%= render partial: 'navbar' %>
	<%= render partial: 'notifications' %>
	<%= yield %>
</div>

</body>
</html>
