= semantic_form_for @policy do |f|
  -if @policy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@policy.errors.count, "error")} prohibited this policy from being saved:"
      %ul
        - @policy.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :car
  .field
    = f.input :owner
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
