%h1 Listing policies

%table
  %tr
    %th.wide Car
    %th Client
    %th Policy number
    %th Total price
    %th Agent
    %th Date
    %th State
    %th
    %th
    %th

  - @policies.each do |policy|
    %tr
      %td.wide= policy.car_full_name
      %td= policy.client_full_name
      %td= policy.policy_number
      %td= policy.total_price
      %td= policy.full_agent_name
      %td= policy.created_at.strftime("%d-%m-%Y")
      %td{ class: (policy.synchronized? ? 'synchronized' : 'unsynchronized') }= policy.state
      %td= link_to 'Show', policy, class: 'btn'
      %td= link_to 'Edit', edit_policy_path(policy), class: 'btn'
      %td= link_to 'Destroy', policy, confirm: 'Are you sure?', method: :delete, class: 'btn'

%br

= link_to 'New Policy', new_policy_path, class: 'btn btn-primary'
= link_to 'Synchronize', synchronize_policies_path, class: 'btn btn-danger'
