%p#notice= notice

%p
  %b Car:
  = @policy.car_full_name
%p
  %b Owner:
  = @policy.client_full_name
%p
  %b Policy number:
  = @policy.policy_number
%p
  %b Total price:
  = @policy.total_price
%p
  %b Agent:
  = @policy.full_agent_name

%p
  %b State:
  %span{ class: (@policy.synchronized? ? 'synchronized' : 'unsynchronized') }= @policy.state

= link_to 'Edit', edit_policy_path(@policy), class: 'btn'
= link_to 'Delete', @policy, confirm: 'Are you sure?', method: :delete, class: 'btn'
= link_to 'Back', policies_path, class: 'btn'
